<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <title>Organisationer</title>
</head>
<body class="organisation">
<header class="header">
    <h1>
        For'Mad'Resten
    </h1>
    <p><em>Frontlinien i kampen mod madspild</em></p>
    <hr>
    <nav>
        <a href="form">Skriv et opslag</a>
        <a href="index">Home</a>
        <a href="dashboard">Opslagstavlen</a>
    </nav>
    <hr>
</header>

<div id="organisation-flex">
    <div id="organisation-flex-pic">
        <img src="/img/donationpicture2.jpg" width="200px" height="400px" alt="organisation-pic"/>
    </div>
    <div id="organisation-flex-text">
        <h2>
            Fra madspild til madoveskud og madhjælp</h2>
        <p>
            Der bliver i Danmark smidt tusindvis af tons god, spiselig
            mad ud, som kunne været spist. Altimens siger en undersøgelse
            fra Arbejderbevægelsens Erhvervsråd, at alene i Danmark lever
            300.000 danskere under OECD's fattigdomsgrænse.
            Der er mere end hvert 10. barn i Danmark, som lever i relativ fattigdom.
            10,2% af alle børn i alderen 0-17 år lever i relativ fattigdom,
            viser tal fra UNICEF.
            Beboere i 100.000 danske husstande må jævnligt springe et måltid over eller få mad foræret af familie og venner, fordi de ikke har råd til at købe mad nok, viser en undersøgelse som er foretaget af Institut for Fødevare- og Ressourceøkonomi på Københavns Universitet.
        </p>


    </div>
    <div id="organisation-flex-child3">
        <p>
            Derudover viser tal fra Det Nationale Forsknings- og Analysecenter for Velfærd at Danmark har cirka 6.600 hjemløse - og antallet stiger. Derfor er der flere muigheder for at donere god og frisk overskudsmad til hjælpeorganisationer for hjemløse og socialt udsatte. Længere henne på siden her kan du finde vores landsdækkende liste over væresteder, herberger, kvindehjem, krisecentre og forsorgshjem for socialt udsatte samt andre hjælpeorganisationer.
        </p>
    </div>
</div>
<footer id="foot">
    <hr>
    <nav>
        <a href="form">Skriv et opslag</a>
        <a href="index">Home</a>
        <a href="dashboard">Opslagstavlen</a>
    </nav>
    <hr>

    <div id="foot-text">
        <p>•  • Copyright ☺ 2021 • All rights reserved • Mathias - Jesper - Robert •  •</p>
    </div>
</footer>
</body>
</html>